<a href="#sports/{{id}}">{{name}}</a>
<pre>

home_team: {{home_team.attributes.name}}
home_score: {{home_score}}

vs

visitor_team: {{visitor_team.attributes.name}}
visitor_score: {{visitor_score}}

<!-- home_team_id: {{home_team_id}}
  channel:
display_status: {{display_status}}
game_type: {{game_type}}
id: {{id}}
league: {{league}}
period_id: {{period_id}}
reason: {{reason}}
status: {{status}}
updated_at: {{updated_at}}
url: {{url}}

visitor_team_id: {{visitor_team_id}}-->
</pre>
